<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="host_name" value="localhost"/>
    <add key="fanout_exchange_name" value="mensagens"/>
  </appSettings>
</configuration>